{% extends '::base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Wallet</td>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.wallet }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}