{% extends '::base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <div class="row">
            {% for product in products %}
                {% if product.stock > 0 %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ product.name }}</h2>
                        </header>

                        <p>
                            {%  set product_promotion = calc.calculate(product) %}
                            {% if product_promotion != product.price %}
                                <del>${{ product.price | number_format(2) }}</del><br />
                            {% endif %}
                            ${{ product_promotion | number_format(2) }}
                        </p>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href={{ path('single_product', {'id': product.id}) }}>View &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

